<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-block-master-heading" jhiTranslate="forestharyanaApp.blockMaster.home.createOrEditLabel">Create or edit a Block Master</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!blockMaster.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="blockMaster.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.blockName" for="field_blockName">Block Name</label>
                    <input type="text" class="form-control" name="blockName" id="field_blockName"
                        [(ngModel)]="blockMaster.blockName" required/>
                    <div [hidden]="!(editForm.controls.blockName?.dirty && editForm.controls.blockName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.blockName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.rangeName" for="field_rangeName">Range Name</label>
                    <input type="text" class="form-control" name="rangeName" id="field_rangeName"
                        [(ngModel)]="blockMaster.rangeName" required/>
                    <div [hidden]="!(editForm.controls.rangeName?.dirty && editForm.controls.rangeName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rangeName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.rangeId" for="field_rangeId">Range Id</label>
                    <input type="text" class="form-control" name="rangeId" id="field_rangeId"
                        [(ngModel)]="blockMaster.rangeId" required/>
                    <div [hidden]="!(editForm.controls.rangeId?.dirty && editForm.controls.rangeId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rangeId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.divisionName" for="field_divisionName">Division Name</label>
                    <input type="text" class="form-control" name="divisionName" id="field_divisionName"
                        [(ngModel)]="blockMaster.divisionName" required/>
                    <div [hidden]="!(editForm.controls.divisionName?.dirty && editForm.controls.divisionName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.divisionName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.divisionId" for="field_divisionId">Division Id</label>
                    <input type="text" class="form-control" name="divisionId" id="field_divisionId"
                        [(ngModel)]="blockMaster.divisionId" required/>
                    <div [hidden]="!(editForm.controls.divisionId?.dirty && editForm.controls.divisionId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.divisionId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.circleName" for="field_circleName">Circle Name</label>
                    <input type="text" class="form-control" name="circleName" id="field_circleName"
                        [(ngModel)]="blockMaster.circleName" required/>
                    <div [hidden]="!(editForm.controls.circleName?.dirty && editForm.controls.circleName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.circleName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.circleId" for="field_circleId">Circle Id</label>
                    <input type="text" class="form-control" name="circleId" id="field_circleId"
                        [(ngModel)]="blockMaster.circleId" required/>
                    <div [hidden]="!(editForm.controls.circleId?.dirty && editForm.controls.circleId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.circleId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.stateName" for="field_stateName">State Name</label>
                    <input type="text" class="form-control" name="stateName" id="field_stateName"
                        [(ngModel)]="blockMaster.stateName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.stateId" for="field_stateId">State Id</label>
                    <input type="text" class="form-control" name="stateId" id="field_stateId"
                        [(ngModel)]="blockMaster.stateId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="forestharyanaApp.blockMaster.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="blockMaster.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
