<div>
    <h2 id="page-heading">
        <span jhiTranslate="forestharyanaApp.inchargeMasterType.home.title">Incharge Master Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incharge-master-type" [routerLink]="['/incharge-master-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="forestharyanaApp.inchargeMasterType.home.createLabel">
            Create new Incharge Master Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="inchargeMasterTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="forestharyanaApp.inchargeMasterType.inchargeMasterType">Incharge Master Type</span></th>
            <th><span jhiTranslate="forestharyanaApp.inchargeMasterType.isActive">Is Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inchargeMasterType of inchargeMasterTypes ;trackBy: trackId">
                <td><a [routerLink]="['/incharge-master-type', inchargeMasterType.id, 'view' ]">{{inchargeMasterType.id}}</a></td>
                <td>{{inchargeMasterType.inchargeMasterType}}</td>
                <td>{{inchargeMasterType.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/incharge-master-type', inchargeMasterType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/incharge-master-type', inchargeMasterType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'incharge-master-type/'+ inchargeMasterType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
